.hero-back{
background-image: url(../img/background-image.jpeg);
background-size: cover;


}

.ff-back{
    background-image: url(../img/formalflamingo-site.jpg);
    background-size: cover;
    
    
    }
    .efh-back{
        background-image: url(../img/earrings.jpg);
        background-size: cover;
        background-position: top center;
        
        
        }
        .button-back{
            background-image: url(../img/button.jpg);
            background-size: cover;
            background-position: top center;
            
            
            }
            .tidal-back{
                background-image: url(../img/tidal.jpg);
                background-size: cover;
                background-position: top center;
                
                
                }

                .beach-back{
                    background-image: url(../img/beach.jpg);
                    background-size: cover;
                    background-position: top center;
                    
                    
                    }
                    .italy-back{
                        background-image: url(../img/italy.jpg);
                        background-size: cover;
                        background-position: top center;
                        
                        
                        }
                        .nicole-back{
                            background-image: url(../img/nicole.jpg);
                            background-size: cover;
                            background-position: top center;
                            
                            
                            }
                            .dababy-back{
                                background-image: url(../img/dababy.png);
                                background-size: cover;
                                background-position: top center;
                                
                                
                                }
                            .palmbay-back{
                                background-image: url(../img/palmbay.jpg);
                                background-size: cover;
                                background-position: top center;
                                
                                
                                }

                               