.footer{
    background: black;
    padding-bottom: 10px;
    color: white;
    a{
        &:hover{
            opacity: .5;
        }
    }
    .logo-wrap{
        a{
            color: white;
            font-family: milkshake;
            font-size: 25px;
        }
    }
    p{
        font-size: 18px;
        color: white;
    }
    h4{
        margin: 0 0 30px;;
    }
   
    div{
        
        a{
            margin: 0 1em;
            padding: .5em 1em;
        }
        div{
            padding: 0 5%;

           
        }
    }
}